.checkBox_span {
    color: #2668ee;
    font-weight: 500;
}

.checkBox_span-padding {
    margin-top: 25px;
}

.checkBox {
    padding-left: 23%;
}

.title {
    padding-left: 23%;
    padding-top: 3%;
}

.fly {
    margin-top: 25px;
    padding-top: 24px;
}

.transfer_box {
    box-shadow: -1px 7px 6px -5px #333;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}
